shapely
scikit-image
imgaug
pyclipper
lmdb
tqdm
numpy
visualdl
rapidfuzz
opencv-python==4.6.0.66
opencv-contrib-python==4.6.0.66
cython
lxml
premailer
openpyxl
attrdict
Polygon3
lanms-neo==1.0.2
PyMuPDF<1.21.0

# pip uninstall paddlepaddle
# python -m pip install paddlepaddle -i https://mirror.baidu.com/pypi/simple
# pip install "paddleocr>=2.0.1"